body {
    font-family: sans-serif;
    margin: 0px;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

.blue {
	padding: 10% 30% 10% 5%;
	background-color: lightgrey;
}

.blue h1 {
	text-transform: capitalize;
	margin-bottom: 40px;
	margin-top: 20px;
	line-height: 1.5;
}

.blue h2 {
	text-transform: uppercase;
	font-size: 16px;
}

.button {
	background-color: dodgerblue;
	padding: 15px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
img {
	width: 5%;
}

.parent {
	border: 1px solid red;
	display: flex;
}

.mini {
	border: 2px solid green;
	flex: 1;
}

.stretch {
	flex: 2;
}

body {
	padding-bottom: 500px;
}

table, tr, td {
	border: 1px solid blue;
	border-collapse: collapse;

}



/*
.parent {
	display: flex;
	margin-bottom: 200px;
}

.mini {
	padding: 2%;
	text-align: center;
	flex: 1;
	border: 1px solid red;
}

.mini h5 {
	text-transform: uppercase;
	color: grey;
	margin-bottom: 5px;
	font-weight: 100;
}

.mini h3 {
	text-transform: capitalize;
	color: dodgerblue;
	margin-bottom: 5px;
	font-weight: 200;
}

.mini h4 {
	margin-bottom: 5px;
	font-weight: 100;
}




.mini img {
	width: 20%;
}

.mini {
	border: 1px solid red;
	flex: 1;
	padding: 2%;
}

.parent {
	display: flex;
}








*/














